@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo a Locadora do futuro</h1>
    <h3>Aqui você encontra a maior variedades de veiculos pelo melhor preco do mercado! confira as nossas opções <a href="/carros">Veiculos para locação</a>.</h3>
</div>
